@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our company</h1>
    <p>We work to turn your dreams into reality.</p>
</div>

